<div class="containerr">
  <div class="containerr_right">
    <h2>Login form</h2>
    <form (submit)="login()">
      <label class="form-label">Username <input class="form-control" [(ngModel)]="username" name="username"
          placeholder=" ADMIN's username&pswrd is admin" required /> </label> <br>
      <label class="form-label">Password <input class="form-control" type="password" [(ngModel)]="password"
          name="password" placeholder="USER's username&pswrd is user" required /></label> <br>
      <button type="submit">Login</button>
    </form>
  </div>
  <div class="containerr_left">
    <h2>Registration form</h2>
    <app-form></app-form>
  </div>
</div>